@model IEnumerable<Order>
@{
	decimal a=0.0m;
	ViewData["Title"] = "View";
}
@foreach (var o in Model)
{
	<div class="container border bg-light">
		<ul class="list-group">
			<li class="list-group-item">
				Order №: @o.OrderNumber
			</li>
			<li class="list-group-item">
				Order date: @o.OrderDate
			</li>
		</ul>
			<h3>Order Items: </h3>
			@foreach (var i in o.Items)
			{
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					Product: @i.Product.Title
				</li>
				<li class="list-group-item">
					Quantity: @i.Quantity
				</li>
				<li class="list-group-item">
					UnitPrice: @i.UnitPrice
				</li>
				Order Item total:@(a += i.Quantity * i.UnitPrice)
			</ul>
			}
		
	</div>
}
<div>Total price: @a</div>

